
<div style="text-align:center">
    <div class="grid-layout" >
        <!-- <div  > -->


            <!-- <div class="filter-component">
                <mat-label class="filter">Filter by Type</mat-label>
                <mat-form-field class="form-field">
                    <mat-select > 
                        <mat-option disabled>None</mat-option>
                        <mat-option >
                    
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->


        <div  *ngFor="let pokemon of pokemons; let i=index">
            <mat-card class="pokemon-card" >
                <mat-card-title>{{pokemon.pokemon.name}}</mat-card-title> 
                <div class="id"></div>
                <div class="background-image">
                    <img mat-card-image [src]="pokemon.img | imagen" />
                </div>
                <mat-card-content>
                    <div  >
                        <!-- <div *ngFor="let pokemon of pokemons | keyvalue" class="types" [style.background]="_getTypeColour(pokemon.type)"> -->
                        <!-- <div *ngFor="let types of pokemon.type" class="types" [style.background]="_getTypeColour(types)"> -->
                            <div *ngFor="let types of pokemon.type" class="types" [style.background]="_getTypeColour(types)">
                                <!-- <mat-chip [color]="pokemon.color" selected>
                                
                                </mat-chip> -->
                                {{types }}
                            </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
